.footer {
    background-image: url(img/Footer.png);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 4em;
}

.footer_titulo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #2D2D2D;
}


.footer_menu{
    margin: 1em;
}

.footer_menu .menu-item {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 48px;
    color: #2D2D2D;
    margin: 0.5em;

}

